[Unit]
Description=Mount NFS Shares from configuration file
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/home/sieben/.mounts/mounts.sh
ExecStop=/home/sieben/.mounts/umounts.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
