[Unit]
Description=Mount NFS Shares from configuration file
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/home/DEIN_BENUTZERNAME/.mounts/mounts.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
