[Unit]
Description=Mount Synogard share SMB archiv
Requires=systemd-networkd.service
Wants=network-online.target
After=network-online.target
Before=remote-fs.target
StartLimitIntervalSec=30
StartLimitBurst=3

[Mount]
What=//192.168.77.77/archiv
Where=/syno/archiv
Type=cifs
Options=uid=1000,gid=1000,credentials=/home/sieben/.smbcred,file_mode=0755,dir_mode=0755,noauto,x-systemd.automount

[Install]
WantedBy=multi-user.target
